<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,content,active,script)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Sistema de Gestión de Empleados</title>
    <!-- Importar la fuente Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" th:href="@{/styles/dashboard.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/attendance.css}">
    <link rel="stylesheet" th:href="@{/styles/employees.css}">
    <link rel="stylesheet" th:href="@{/styles/reports.css}">
</head>
<body>
    <div th:replace="~{/fragments/navbar :: navbar(${active})}"></div>
    <div th:replace="${content}"></div>
    <th:block th:replace="${script}"></th:block>
</body>
</html>